/.vscode
/5ACI0_Project_Manual_V1.2.pdf
/a.exe
/can+ttcan.pdf
/CAN_notes.pdf
/gtkwave
/license_2022.txt
/project_template_v3
/project_template_v4
/SourceTreeSetup-3.4.9.exe
/temp.c
/temp.exe
/testing.exe
dec_to_bin_old.c
dec_to_bin_old.exe
5AIC0 code/concatenateBinary.exe
5AIC0 code/dec_to_bin.exe
